<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>云包公-工地管理</title>
	<link rel="stylesheet" href="libs/sui/css/sm.min.css">
	<link rel="stylesheet" href="libs/sui/css/sm-extend.min.css">
<link rel="stylesheet" href="libs/alifontico/iconfont.css">
<link rel="stylesheet" href="css/style-plugin.css">
	
</head>
<body>
	<!-- 顶部标题 -->
	<header class="bar bar-nav default-style  ">
		
		<a class="icon icon-left pull-left" href="user_address_index_second.html" data-transition="slide-out"></a> 
		<h1 class="title">商品选购</h1>
	</header>

	<!-- 底部导航栏 -->
	<nav class="bar bar-tab white-bg">
		<a class="tab-item" href="user_message_index.html" style="display:none;">
			<span class="icon icon-dynamic-white"></span>
			<span class="tab-label">动态</span>
		</a>
		<a class="tab-item " data-transition="slide-in" href="user_address_index_second.html">
			<span class="icon icon-address-gray"></span>
			<span class="tab-label">工地</span>
		</a>
		<a class="tab-item current" data-transition="slide-in" href="user_mall_index_v1.html">
			<span class="icon  icon-mall-gray"></span>
			<span class="tab-label">选购</span>
		</a>
		<a class="tab-item" data-transition="slide-in" href="user_me_index2.html">
			<span class="icon icon-me-gray"></span>
			<span class="tab-label">我的</span>
		</a>

	</nav>

	<div class="card bar-footer-secondary fix-bottom-bar shoppingcar-bottom-bar">
	    <div class="card-footer no-border">
	      <div>
	      	合计总金额 <span class="red-color">¥588.00</span>
			<span class="gray-info">为您节省￥785.0</span>
	      </div>
	      <a href="user_order_submit.html" id="order_submit" data-transition="slide-in" class="button button-dafault button-fill order_button ">下 单</a>
	   </div>
	</div>
	

	<!-- 页面内容区域 -->
	<div class="content"  style="top:2.2rem; bottom:3rem; " >
		

		<div class="list-block media-list shopping-car-list">
			<ul>

			  <li>
			    <div href="#" class="item-link item-content item-product-list">
			      <div class="item-media"><img src="img/shoppingcar_03.jpg" style='width: 4rem;'></div>
			      <div class="item-inner">
			        <div class="item-title clearfix">
			        	<span class="pull-left">坪塘水泥</span>
			        	<span class="pull-right">
							<a href="#" class="del-btn"><i class="icon icon-remove"></i></a>
			        	</span>
			        </div>
			        <div class="item-subtitle clearfix">
			        	<span class="pull-left">规格：50*3.5</span>
			        	<span class="pull-right">包装：30M</span>
			        </div>
			        <div class="item-price">
			        	<span class="hot-price">￥15</span>
			        </div>
			      </div>
					<div class="count-ul clearfix">
						<div class="count-li name">购买数量</div>
						<div class="count-li del">-</div>
						<div class="count-li count"><input type="tel" class="num-input" value="" placeholder="0" name="count" ng-model="array.count[0]" ng-pattern="/^([0-9]/d*)$/"></div>
						<div class="count-li plus" >+</div>
					</div>
			    </div>
			  </li>

				<li>
			    <div href="#" class="item-link item-content item-product-list">
			      <div class="item-media"><img src="img/shoppingcar_03.jpg" style='width: 4rem;'></div>
			      <div class="item-inner">
			        <div class="item-title clearfix">
			        	<span class="pull-left">坪塘水泥</span>
			        	<span class="pull-right">
							<a href="#" class="del-btn"><i class="icon icon-remove"></i></a>
			        	</span>
			        </div>
			        <div class="item-subtitle clearfix">
			        	<span class="pull-left">规格：50*3.5</span>
			        	<span class="pull-right">包装：30M</span>
			        </div>
			        <div class="item-price">
			        	<span class="hot-price">￥15</span>
			        </div>
			      </div>
					<div class="count-ul clearfix">
						<div class="count-li del">-</div>
						<div class="count-li count"><input type="tel" class="num-input" value="" placeholder="0" name="count" ng-model="array.count[0]" ng-pattern="/^([0-9]/d*)$/"></div>
						<div class="count-li plus" >+</div>
					</div>
			    </div>
			  </li>

			  <li>
			    <div href="#" class="item-link item-content item-product-list">
			      <div class="item-media"><img src="img/shoppingcar_03.jpg" style='width: 4rem;'></div>
			      <div class="item-inner">
			        <div class="item-title clearfix">
			        	<span class="pull-left">坪塘水泥</span>
			        	<span class="pull-right">
							<a href="#" class="del-btn"><i class="icon icon-remove"></i></a>
			        	</span>
			        </div>
			        <div class="item-subtitle clearfix">
			        	<span class="pull-left">规格：50*3.5</span>
			        	<span class="pull-right">包装：30M</span>
			        </div>
			        <div class="item-price">
			        	<span class="hot-price">￥15</span>
			        </div>
			      </div>
					<div class="count-ul clearfix">
						<div class="count-li del">-</div>
						<div class="count-li count"><input type="tel" class="num-input" value="" placeholder="0" name="count" ng-model="array.count[0]" ng-pattern="/^([0-9]/d*)$/"></div>
						<div class="count-li plus" >+</div>
					</div>
			    </div>
			  </li>

			  <li>
			    <div href="#" class="item-link item-content item-product-list">
			      <div class="item-media"><img src="img/shoppingcar_03.jpg" style='width: 4rem;'></div>
			      <div class="item-inner">
			        <div class="item-title clearfix">
			        	<span class="pull-left">坪塘水泥</span>
			        	<span class="pull-right">
							<a href="#" class="del-btn"><i class="icon icon-remove"></i></a>
			        	</span>
			        </div>
			        <div class="item-subtitle clearfix">
			        	<span class="pull-left">规格：50*3.5</span>
			        	<span class="pull-right">包装：30M</span>
			        </div>
			        <div class="item-price">
			        	<span class="hot-price">￥15</span>
			        </div>
			      </div>
					<div class="count-ul clearfix">
						<div class="count-li del">-</div>
						<div class="count-li count"><input type="tel" class="num-input" value="" placeholder="0" name="count" ng-model="array.count[0]" ng-pattern="/^([0-9]/d*)$/"></div>
						<div class="count-li plus" >+</div>
					</div>
			    </div>
			  </li>

			  <li>
			    <div href="#" class="item-link item-content item-product-list">
			      <div class="item-media"><img src="img/shoppingcar_03.jpg" style='width: 4rem;'></div>
			      <div class="item-inner">
			        <div class="item-title clearfix">
			        	<span class="pull-left">坪塘水泥</span>
			        	<span class="pull-right">
							<a href="#" class="del-btn"><i class="icon icon-remove"></i></a>
			        	</span>
			        </div>
			        <div class="item-subtitle clearfix">
			        	<span class="pull-left">规格：50*3.5</span>
			        	<span class="pull-right">包装：30M</span>
			        </div>
			        <div class="item-price">
			        	<span class="hot-price">￥15</span>
			        </div>
			      </div>
					<div class="count-ul clearfix">
						<div class="count-li del">-</div>
						<div class="count-li count"><input type="tel" class="num-input" value="" placeholder="0" name="count" ng-model="array.count[0]" ng-pattern="/^([0-9]/d*)$/"></div>
						<div class="count-li plus" >+</div>
					</div>
			    </div>
			  </li>

			  <li>
			    <div href="#" class="item-link item-content item-product-list">
			      <div class="item-media"><img src="img/shoppingcar_03.jpg" style='width: 4rem;'></div>
			      <div class="item-inner">
			        <div class="item-title clearfix">
			        	<span class="pull-left">坪塘水泥</span>
			        	<span class="pull-right">
							<a href="#" class="del-btn"><i class="icon icon-remove"></i></a>
			        	</span>
			        </div>
			        <div class="item-subtitle clearfix">
			        	<span class="pull-left">规格：50*3.5</span>
			        	<span class="pull-right">包装：30M</span>
			        </div>
			        <div class="item-price">
			        	<span class="hot-price">￥15</span>
			        </div>
			      </div>
					<div class="count-ul clearfix">
						<div class="count-li del">-</div>
						<div class="count-li count"><input type="tel" class="num-input" value="" placeholder="0" name="count" ng-model="array.count[0]" ng-pattern="/^([0-9]/d*)$/"></div>
						<div class="count-li plus" >+</div>
					</div>
			    </div>
			  </li>
			  
			</ul>
			</div>

	</div>

	<script type='text/javascript' src='libs/sui/js/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='libs/sui/js/sm.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='libs/sui/js/sm-extend.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.0.3/angular.min.js"></script>

	<script type="text/javascript">
	function hasNum(){
		var numInput = parseFloat( $(".num-input").val() );
		var isBuy = numInput+ numInput;
		if(isBuy >0 ){
		  alert("没有商品")
		}
	}

	$(function(){
				// $(".num-input").attr("value",0); //刷新后重置数量为空
				// myinit();
				$(".num-input").focus(function(){
					$(this).val(""); //设置数量为空
					$(this).closest(".count-ul").addClass("fix-input");
					// $("body").append("<div class='modal-overlay modal-overlay-visible'></div>");
				})
				$(".num-input").blur(function(){
					// myinit();
					if(!($(this).val()>0)  ) {
						$(this).val(0);
					}
					$(".count-ul").removeClass("fix-input");
					$(".modal-overlay").remove();
				})

				// 输入法问题

			})
	</script>
</body>
</html>