//h5调试用
// .preloader-indicator-modal,.preloader-indicator-overlay {
//     display: none!important;
// }
 
/*云包公公共样式*/
html,body {
    overflow-x: hidden;
}
@font-face {
    font-family: "iconfont-sm";
    src: url('../libs/sui/fonts/ratchicons.eot');
    src: url('../libs/sui/fonts/ratchicons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../libs/sui/fonts/ratchicons.woff') format('woff'), /* chrome、firefox */
    url('../libs/sui/fonts/ratchicons.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../libs/sui/fonts/ratchicons.svg#iconfont') format('svg');

    /* IE9*/
    /* iOS 4.1- */
}

//图片路径配置
@imgsrc:"../img";

// 颜色参数-功能性划分
@background-content-color:#f3f4f6; //背景内容区域颜色
@default-color:#009fe8; //通用主色，用于通用的按钮背景颜色，云包公项目为该色值的蓝色 
@default-dark-color:#0675bb; //通用主色加深，可用不限于按钮点击时。
@opposite-dark-color:#fff; //反差深色的背景的浅色字体类用色
@gray-tint-color:#efefef; //浅灰色
@danger-color:#fc2a2a; //危险操作，警告文字
@warning-color:#ff9c00; //强调文字颜色
@warning-bg:#f7e2ca; //强调区域背景色
@unimportance-color:#afafaf; //次要的文字颜色

// 颜色种类划分
@black:#2b2c33;
@white:#fff;
@gray:#efefef; //灰色背景底色
@red:#ff0000;
@orange:#fa6a32;
@blue:#3b7ffd;
@green:green;

a {
    color: @blue;
}
.default-color {   //通用主色字体用色
    color: @default-color;
    &:active {
        color: @default-dark-color;
    }
}
.danger-color {    //危险操作字体用色
    color: @danger-color;
}
.warning-color {  //强调字体用色
    color: @warning-color;
}
.unimportance-color {  //次要字体用色
    color: @unimportance-color;
}
.price {   //商品现价统一颜色
    color: @danger-color;
}
.bg-ball {  //圆形背景，主要用于图标圆背景框
    background: @green;
    color: @white;
    border-radius: 1rem;
    padding:0.1rem;
    font-size: 0.6rem;
    &.green-bg {
        background: @green;
    }
}

//背景色定义
.white-bg {
    background: @white!important;
    color: @black!important;
}
.gray-bg {
    background: @background-content-color!important;
}


//字体尺寸定义
@font-size-large:.9rem; //特大尺寸（页面标题）
@font-size-biger:.85rem;   //加大尺寸（头部的文字按钮、个人中心姓名、）
@font-size-big:.8rem; //大尺寸 （文章标题、列表头部文字）
@font-size-default:.75rem; //标准尺寸（文本、阅读性文字、列表内容的文字）
@font-size-small:.7rem;   //小尺寸 （注释文字 、说明文字）
@font-size-mini:.6rem;    //迷你尺寸 （）

//公共区域文字定义
.title{ //页面标题
    font-size: @font-size-large;
}
.fix-top-header {
    select {
        font-size: @font-size-large;
    }
}
.list-block {
    .item-subtitle {
        font-size: @font-size-default;
    }
}
.card-header {
    font-size:@font-size-big;
}
.profiles-list {
    font-size: @font-size-big;
}
.list-block,.list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea {
    font-size: @font-size-big;
}
.profiles-user-name {
    font-size:@font-size-biger;
}

/*公共区域-内容content区域*/
.content {
    background: @background-content-color;
}

/*公共区域-底部导航*/
.bar-tab {
    background: @black;
    z-index: 20;
    .tab-item {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        &.current {
            background: @default-color;
        }
        .tab-label {
            color: @opposite-dark-color;
        }
        .icon ~ .tab-label {
            top: 0.05rem;
            font-size: @font-size-small;
        }
    }
}


/*公共区域-顶部导航*/
.bar-nav {
    &.default-style {
        background: @default-color;
        .title {
            color: @opposite-dark-color;
        }
        .icon {
            color: @opposite-dark-color;
        }
        .button-link {
            color: @opposite-dark-color;
            &:active {
                border:none;
            }
        }
    }
}


/*图标定义*/
.bar-tab { //底部按钮图标样式
    .tab-item{
        .icon {
    	display: block;
        margin: 0 auto 0.25rem;
        background-size: 100%; 
        width: .9rem;
        height: .9rem;
            &.icon-cart-white {
                background-image: url("@{imgsrc}/ico-mall-white.png");
            }
            &.icon-address-white {
                background-image: url("@{imgsrc}/ico-address-white.png");  
            }
            &.icon-me-white {
                background-image: url("@{imgsrc}/ico-porfiles-white.png");
                &.sm {
                    background-image:url("@{imgsrc}/ico-porfiles-white-sm.png"); 
                }
            }
            &.icon-clients-white {
                background-image: url("@{imgsrc}/ico-clients-white.png");
            }
            &.icon-orderlist-white {
                background-image: url("@{imgsrc}/ico-orderlist-white.png");  
            }
            &.icon-message-white {
                background-image: url("@{imgsrc}/ico-message-white.png");
            }
            &.icon-dynamic-white {
                background-image: url("@{imgsrc}/icon-star-white.png");
            }
        }
    }
}

// 列表菜单的图标
i.icon {
    width: 1.45rem;
    height: 1.45rem;
    background-size: 100%;
    &.icon-diy-money{
     background-image: url("@{imgsrc}/me-ico_03.png");  
    }
    &.icon-diy-lock{
     background-image: url("@{imgsrc}/me-ico_07.png");  
    }
    &.icon-diy-search{
     background-image: url("@{imgsrc}/me-ico_11.png");  
    }
    &.icon-diy-people{
     background-image: url("@{imgsrc}/me-ico_13.png");  
    }
    &.icon-user-ico {
        background-size: 1.45rem!important;
        &.box-ico {
            background:url("@{imgsrc}/ico-me_box.gif") no-repeat; 
        }
        &.money-ico {
            background:url("@{imgsrc}/ico-me_money.gif") no-repeat;
        }
        &.car-ico {
            background:url("@{imgsrc}/ico-me_car.gif") no-repeat;
        }
        &.bag-ico {
            background:url("@{imgsrc}/ico-me_bag.gif") no-repeat;
        }
        &.title-ico {
            background:url("@{imgsrc}/ico-me_title.gif") no-repeat;
        }
        &.question-ico {
            background:url("@{imgsrc}/ico-me_question.gif") no-repeat;
        }
        &.note-ico {
            background:url("@{imgsrc}/ico-me_note.gif") no-repeat;
        }
        &.service-phone-ico {
            background:url("@{imgsrc}/ico-me_service.gif") no-repeat;
        }
        &.all-phone-ico {
            background:url("@{imgsrc}/ico-me_headset.gif") no-repeat;
        }
        &.complaint-phone-ico {
            background:url("@{imgsrc}/ico-me_complaint_phone.gif") no-repeat;
        }
        &.car2-ico {
            background: url("@{imgsrc}/ico-me-car2.png") no-repeat;
        }
        &.weight-ico {
            background: url("@{imgsrc}/ico-me-weight.png") no-repeat;
        }
    }
}

.icon-no-bg {  //没有背景的图标样式，最新动态首页
    display: inline-block;
    background-size: 100%!important;
    margin-right: .2rem;
    width: 1.5rem;
    height:1.5rem;
    vertical-align: middle;
    &.card-ico {
        background: url("@{imgsrc}/dynamic-ico_16.png") no-repeat;
    }
    &.warning-ico {
        background: url("@{imgsrc}/dynamic-ico_23.png") no-repeat;
    }
    &.money-ico {
        background: url("@{imgsrc}/dynamic-ico_03.png") no-repeat;
    }
    &.car-ico {
        background: url("@{imgsrc}/dynamic-ico_05.png") no-repeat;
    }
    &.box-ico {
        background: url("@{imgsrc}/dynamic-ico_07.png") no-repeat;
    }
    &.map-ico {
        background: url("@{imgsrc}/dynamic-ico_13.png") no-repeat;
    }
    &.note-ico {
        background: url("@{imgsrc}/dynamic-ico_21.png") no-repeat;
    }
}
.warning-ico {
    background: url("@{imgsrc}/warning-ico_03.gif") no-repeat;
    background-size: 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}


/* 排版布局 */ 
ul,ol {
    padding: 0;
    li {
        list-style: none;
    }
}
.list-block-h1 {
    font-size: 1rem;
    font-weight: 500;
    border-bottom: @border-gray-dark;
    padding: .5rem;
    margin: 0;
}
.inline-block-ul {
    letter-spacing: -0.15rem;
    word-spacing: -0.15rem;
    li {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 0;
        word-spacing: 0;
    }
}
.list-block {
    margin: 0.5rem 0;
    li {
        border-bottom: @border-gray-tint;
        .item-inner:after {
            display: none;
        }
    }
    &.nomargin-list-block { //清理掉列表的边距
        margin:0;
    }
    &.no-fix-width { //去掉列表内容固定宽度
        .item-title {
            width: auto; 
        }
    }
}
.list-font-info {  //订单信息类字体大小和黑色字体
    color: @black;
    font-size:@font-size-small;
}
.font-overflow {  //字体溢出截取添加"..."处理,使用时需要给元素添加宽度
    display: inline-block;
    zoom: 1;
    *display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}
.fix-center-middle {    //绝对定位垂直水平居中，兼容IE9以上
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform: translate3D(-50%, -50%, 0);
    -ms-transform: translate3D(-50%, -50%, 0);
    -o-transform: translate3D(-50%, -50%, 0);
    transform: translate3D(-50%, -50%, 0);
    &.fixed {  //追加固定定位
        position: fixed;
    }
}
.fix-middle {    //绝对定位垂直水平居中，兼容IE9以上
    position: absolute;
    top:50%;
    -webkit-transform: translate3D(0%, -50%, 0);
    -ms-transform: translate3D(0%, -50%, 0);
    -o-transform: translate3D(0%, -50%, 0);
    transform: translate3D(0%, -50%, 0);
    &.fixed {  //追加固定定位
        position: fixed;
    }
}

.fix-middle {    //绝对定位垂直水平居中，兼容IE9以上
    position: absolute;
    top:50%;
    -webkit-transform: translate3D(0%, -50%, 0);
    -ms-transform: translate3D(0%, -50%, 0);
    -o-transform: translate3D(0%, -50%, 0);
    transform: translate3D(0%, -50%, 0);
    &.fixed {  //追加固定定位
        position: fixed;
    }
}
.fix-bottom-bar {    //底部固定栏
    position: fixed; 
    z-index: 16;
    height: 2.2rem;
    bottom: 2.5rem;
    .white-bar {
        margin: 0;
        background: @white;
        border-top:@border-gray-tint;
        line-height: 2rem;
        .button {
            .position-right;
            top:.45rem;
        }
    }
    .absolute-all-button { //底部固定，全屏按钮
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 2.2rem;
        height: auto;
        border-radius: 0;
    }
}
.fix-top-header {  //固定在标题栏
    .fix-center-middle;
    &.list-block {
        margin: 0;
        select {
            color:@opposite-dark-color;
            padding-right: 1rem;
            position: relative;
            z-index: 21;
            width: auto;
        }
        .icon {
            position: absolute;
            right: 0;
            top: 0;
            font-size: @font-size-big;
        }
    }
}
.fix-top-bar {    //顶部挨着状态栏下的固定位置
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    z-index: 20;
}

.position-right {  //绝对定位到右侧
    position: absolute;
    right: 0.5rem;
    z-index: 10;
}
.content-padded-large { //内容区域填充加大号
    padding: 2rem;
} 
.btn-right {  //文字居右显示
    text-align:right;
}
.btn-center {
    text-align: center;
}
.padding {    //区域填充，可用于内容区域需要填充的地方
    padding:.5rem;
}
.padding-plus {    //区域填充，可用于内容区域需要填充的地方
    padding:1rem;
}
.no-padding { //去掉容器的填充
    padding:0!important;
}
.list-padding-font { //列表值为纯文本的时候添加
    padding-right:.25rem;
}
.no-padding-margin {
    padding:0;
    margin:0;
}
.full-box {
    margin-left:0!important;
    margin-right:0!important;
}

// 边框颜色和样式
@border-gray: 0.05rem solid #ccc; //标准下边框实线颜色
@border-gray-dashed: 0.05rem dashed #ccc; //标准下边框虚线颜色
@border-gray-tint: 0.05rem solid #efefef; //浅色下边框实线颜色
@border-gray-tint-dashed: 0.05rem dashed #efefef; //浅色下边框虚线颜色
@border-gray-dark: 0.05rem solid #a5a5a5; //深灰色下边框实线颜色
@border-gray-dark-dashed: 0.05rem dashed #a5a5a5; //深灰色下边框虚线颜色

@border-warning:0.05rem solid @warning-color;
@border-warning-dashed:0.05rem dashed @warning-color;

.border-gray {
    border:0.05rem solid #ccc;
    &.bottom {
        border-width:0 0 0.05rem 0;
    }
    &.dashed {
        border-style: dashed;
    }
    &.tint{
        border-color: #efefef;
    }
}

// 下拉控件
.select-style {
    background: url("@{imgsrc}/select-arrow.png") no-repeat 92% center;
    background-size: 1rem;
    select{ 
        border: 1px solid #ccc;
        border-radius: 0.3rem;
        height: auto;
        padding: .2rem .4rem;
    }
    &.disabled {
        background:none;
        select {
            border:none;
        }
    }
}
// 数量控件
.count-ul {
    border:@border-gray-dark;
    width: 5rem;
    border-radius: 0.4rem;
    background: @white;
    right: 10px;
    z-index: 2;
    overflow: hidden;
    .fix-middle;
    .count-li {
        float: left;
        &.del,&.plus {
            width: 33%;
            text-indent: -999px;
            overflow: hidden;
            line-height: 1.6rem;
            &:active {
                background: @gray;
            }
        }
        &.del {
            background: url("@{imgsrc}/del.png") no-repeat center;
            background-size: 30%;
        }
        &.plus {
            background: url("@{imgsrc}/plus.png") no-repeat center;
            background-size: 30%;
        }
        &.count {
            width: 33%;
            input {
                width: 100%;
                line-height: 1.6rem;
                border:none;
                height: auto;
                border-right: @border-gray-dark;
                border-left: @border-gray-dark;
                text-align: center;
            }
        }
    }
}

//picker控件
.picker-modal {
    position: fixed!important;
}

// 列表样式
.item-content {
    &:active {
        background: @background-content-color;
    } 
}

//按钮
a {
    &:visited {
        color: #2b2c33;
    }
}
.button{
    line-height: 1.35rem;
    color: #fff;
    background: #0894ec;
    border: none;
    &.tab-link {
        background: none;
    }
    &.button-warning {
        background: #f60;
    }
    &.button-danger {
        background: #f6383a;
    }
    &.button-light {
        background: white;
        border:@border-gray-dark;
        color: @unimportance-color;
    }
    &.button-big {
        line-height: 2rem;
        height:2rem;
    }
    &:visited {
        color:#fff; 
    } 
    &:active {
        color:@default-dark-color;
        border:1px solid @default-dark-color;
    } 
}

.button-default {
   &.button-fill {
        background: @default-color;
    } 
}
header {
    .button-link {
        background: none;
        &:active {
            background: @default-dark-color;
        }
    }
    .icon-left {
        &:active {
            background: @default-dark-color;
        }
    }
}

//警惕消息提示框
.warning-message-bar {
    background: @warning-bg;
    color: @warning-color;
    position:fixed;
    top: 2.2rem;
    right: 0;
    left: 0;
    padding: .2rem;
    text-align: center;
    z-index: 10;
}


//搜索框
.search-input {
    input {
        border-radius:1rem;
    }
}

.black-top-area {  //黑色顶部导航
    background: @black;
    height: auto;
    ul {
        .inline-block-ul;
        text-align: center;
        margin:0;
        white-space: nowrap;
        li {
            line-height: 2.5rem;
            a {
                color:@white;
                font-size:@font-size-small;
                padding:.2rem .3rem;
                border-radius: 1rem;
                position: relative;
                &:active {
                    color: @black; 
                }
                i {
                    display: block;
                    border-radius: 2rem;
                    background:@white;
                    color: @default-color;
                    width: .8rem;
                    height: .8rem;
                    text-align: center;
                    line-height: .8rem;
                    position: absolute;
                    top: -.5rem;
                    right: -.5rem;
                    font-size:@font-size-mini;
                    font-style: normal;
                    font-weight: bolder;
                }
            }
            &.current {
                a {
                    background:@default-color;
                }
            }
        }
        &.three-ul{
             li{
                width: 33%;
            }   
        }
        &.four-ul {
            li {
                width:25%;
            }
        }
    }
}

.popup {
    padding: 2.6rem 0 0 0;
    .bar-nav {
        border-bottom:@border-gray;
    }
    .close-btn {
        position: absolute;
        right: .2rem;
        top: .3rem;
        padding:0 1rem;
        font-size: 1rem;
        color: @red;
        z-index: 10;
        &:hover {
            color: @gray;
        }
    }
    .buttons-tab {
        width: 100%;
    }
    
}

.card-ps {
    background: white;
    margin-bottom: .5rem;
    border:@border-gray-tint; 
    .title-font {
        line-height: 2.5rem;
        border-bottom: @border-gray-tint;
        margin: 0;
        .blue-block-ico {
            background: @default-color;
            vertical-align: middle;
            display: inline-block;
            margin:0  .6rem 0 .2rem;
            height:.8rem;
            width: .1rem;
        }
    }
    .inline-block-ul {
        text-align: center;
        border-bottom: @border-gray-tint;
        padding: .5rem 0;
        margin:0;
        .ball-ico {
            display: inline-block;
            width: .6rem;
            height: .6rem;
            border-radius: 1rem;
            background: @unimportance-color;
            position: absolute;
            top: 50%;
            margin-top: -.3rem;
        }
        li {
            position: relative;
            vertical-align: middle;
            &.left {
                padding-right: 1rem;
                .ball-ico {
                    right: 0;
                }
            }
            &.right {
                padding-left: 1rem;
                .ball-ico {
                    left: 0;
                }
            }
            &.complete {
                color: @default-color;
                .ball-ico {
                    background: @default-color;
                }
            }
            &.info {
                height: .05rem;
                width: 4rem;
                background: @unimportance-color;
                &.complete {
                    background: @default-color;
                }
            }
        }
    }
    .product-list {
        padding:.5rem;
        margin: 0;
        li {
            border-bottom: @border-gray-dashed;
            padding:.2rem 0;
            &:last-child {
                border-bottom:none;
            }
            .name {
            }
        }
    }
}

//销售端-客户主页
.font-small-gray {
   font-size: @font-size-mini;
   color: @unimportance-color;
   vertical-align: middle;
   margin-right:1.2rem;
}
.ps-info {
    color: @unimportance-color;
    font-size: @font-size-small;
}
.photo-number {
    position: absolute;
    right: 2rem;
    top: .5rem;
    &:active {
        color: @unimportance-color;
    }
}

.alert-ul {  //空白没内容区域提示区域
    width: 50%;
    margin: 3rem auto;
    text-align: center;
    background: url(../img/alert-ico.png)  center top no-repeat;
    background-size: 3rem;
    padding-top: 7rem;
    white-space: nowrap;
    .btn {
        margin-top: 1rem;
    }
}
.finish-box { //完成提示
    text-align: center;
    padding: .5rem 0;
    font-size: @font-size-large;
    font-weight: bolder;
    .ball-bg {
        border:.2rem solid @default-color;
        color: @default-color;
        font-size: 2.5rem;
        font-weight: bolder;
        border-radius: 10rem;
        width: 4rem;
        height: 4rem;
        text-align: center;
        line-height: 4rem;
        margin: .5rem auto;
    }
}

.content-no-tab ~ .bar-tab { //当页面元素先于bar-tab，有一个包含content-no-tab的类名，bar-tab不显示
    display: none!important; 
}