.address-page-ad img {
  width: 100%;
}
.card-footer-ul {
  display: block;
  margin-top: 0;
}
.arrow-bg-right {
  background: url("../img/i-list-chevron-right.png") no-repeat 95% center;
  background-size: 0.5rem;
  padding-right: 2rem;
  text-align: justify;
}
