@import url("base.less");
 
// 工地管理页面

.address-page-ad {
    img {
        width: 100%;
    }
}

.card-footer-ul {
    display: block;
    margin-top: 0; 
}

.arrow-bg-right {
    background: url("@{imgsrc}/i-list-chevron-right.png") no-repeat 95% center;
    background-size: 0.5rem;
    padding-right: 2rem;
    text-align: justify;
}

.swiper-container {
    padding-bottom: 0px;
}
.swiper-container-horizontal > .swiper-pagination {
    bottom:0px;
    .swiper-pagination-bullet {
        background: #fff;
        opacity: 1;
        width: 0.5rem;
        height: 0.5rem;
        &.swiper-pagination-bullet-active {
            background: #007aff;
        }
    }
}

// 商城首页
.item-product-list {
    &:active {
        background: white!important;
    }
    .item-title {
        margin-top:0.1rem;
        margin-bottom: 0.1rem;
    }
    .item-subtitle {
        margin-bottom: 0.1rem;
    }
    .item-price {
        .old-price {
            color: @unimportance-color;
            text-decoration: line-through;
        }
        .hot-price {
            color: @red;
            font-size:@font-size-large;
        }
    }
}

// 销售端-客户首页
.bar-header-secondary {
    &.white-bg {
        .searchbar {
            background: white;
            border-bottom: 1px solid #9c9d9e;
            box-shadow: 1px 1px 4px @gray-tint-color;
            input#search {
                border: 1px solid #b4b4b4;
            }
        }
        .position-right {
            &.button{
                position: absolute!important;
                right: 0.5rem;
                padding:0 0.25rem; 
                top: 0.4rem;
            }
        }      
    }
}
.address-area {
    background: #333333;
    color: white;
    padding: .5rem 1rem;
    position: relative;
    ul { 
        margin:0;
        padding-right: 4rem;
    }
    .position-right {
        top: 50%;
        -webkit-transform: translate3D(0, -50%, 0);
        -ms-transform: translate3D(0, -50%, 0);
        -o-transform: translate3D(0, -50%, 0);
        transform: translate3D(0, -50%, 0);
    }
}

.list-fix-border {
    .item-content {
        position: relative;
        border-bottom: 1px solid @gray;
        .item-inner:after {
            display: none;
        }
    }
}

.item-after {
    &.default-color {
        color: @default-color;
    }
}

.h4-title {
    margin:.5rem  0 0;
}

.kit-list {
    .card {
        font-size: @font-size-big;
    }
}
.kit-banner {
    font-size: @font-size-small;
}



.login-list {   
    li {
        line-height: 2.5rem;
        margin-bottom: 0.5rem;
        background-size: 1rem!important;
    }
    .username { 
        background: url("@{imgsrc}/username-ico.png") .6rem .6rem  no-repeat;
        border-bottom: @border-gray; 
        padding-left: 2rem;
    }
    .password {
        background: url("@{imgsrc}/password-ico.png") .6rem .6rem no-repeat;
        border-bottom: @border-gray; 
        padding-left: 2rem;
    } 
    input {
        border:none;
        background: none;
        font-size:@font-size-large;
    }
}

.forget-list {
    li {
        border-bottom:@border-gray;
        input {
            border:none;
            display: block;
            background: none;
            line-height: 2rem;
            width: 100%;
        }
        &.verify {
            position: relative;
            padding-right:5rem;
            .position-right {
                top: .4rem;
                z-index: 1;
            }
        }
        &.confirm {
            margin-top: 1.5rem;
        }
    }
}

.profiles-list {
    li {
        .item-title {
            color: @black;
        }
    }
}

.material-list {
    margin: 0;
    li {
        border-bottom:@border-gray-tint-dashed;
        line-height: 2.5rem;
        text-align: center;
        span {
            width: 32%;
            display: inline-block;
            &.price {
                color: @warning-color;
                text-align: right;
            }
            &.name {
                text-align: left;
            }
        }
    }
}
.time-info {
    background: white;
    li {
        line-height: 2.5rem; 
        &.type {
            float:left;
        }
        &.value {
            float:right;
        }
    }
    .custom-date-list {
        display: none;
        margin: 0;
        li {
            &.custom {
                width:75%;
                input {
                    width: 43%;
                    line-height: 1.3rem;
                    font-size: @font-size-big;
                    text-align: center;
                    color: @black;
                    font-weight: bolder;
                    background: #f6f6f6;
                    border:@border-gray-tint;
                    border-radius: 8px;
                    -moz-box-shadow:0px 2px 4px #ababab inset;               /* For Firefox3.6+ */
                    -webkit-box-shadow:0px 2px 4px #ababab inset;            /* For Chrome5+, Safari5+ */
                    box-shadow:0px 2px 4px #ababab inset;                    /* For Latest Opera */
                }
            }
            &.btn {
                width:25%;
            }
        }
    }
}



.list-price {
    text-align: center;
    li {
        white-space: nowrap;
        line-height: 2rem;
        border-bottom:@border-gray-tint-dashed;
        span {  
            display: inline-block;
            &.name {
                width: 28%;
            }
            &.unit {
                width: 28%;
            }
            &.oldprice {
                width: 19%;
                text-decoration: line-through;
                color: @unimportance-color;
            }
            &.price {
                width: 19%;
                color: @danger-color;
            }
        }
    }
}

.profiles-list {
    .unread-message {
        .danger-color;
    }
    .item-after {
        position:absolute;
        right: 1.5rem;
        top:.5rem;
    }
}

.kit-list {
    .card {
        display: block;
        text-align: center;
        color: @black;
        padding:1rem 0;
        span {
            vertical-align: middle;
        }
        &:active {
            background: #efefef;
            -webkit-box-shadow: none;
            box-shadow:none;
        }
    }
}
.kit-banner {
    .btn-center;
    a{
        color: @black;
    }
    .icon-no-bg {
        display: block;
        margin:.5rem auto;
    }
    .mid-box {
        border:1px solid #b7e8ff;
        border-style:none solid;
    }
    .col-33 {
        padding-bottom: .5rem;
        &:active {
            background: #efefef;
        }
    } 
}

.toucher-list {
    position: relative;
    overflow: hidden;
}
.tobuy-button {
    position: absolute;
    right: -4rem;
    background: @default-color;
    color: @opposite-dark-color;
    top: 0;
    bottom: 0;
    width: 4rem;
    line-height: 2.4rem;
    text-align: center;
    font-size: @font-size-small;
    &:visited {
        color: @gray;
    }
}
&.show-button{
    .item-inner  {
        margin-left: -4rem;
    }
    .tobuy-button {
        right: 0;
    }
}


//调整日历控件样式
.picker-modal .toolbar-inner{
    .picker-calendar-month-picker,.picker-calendar-year-picker {
        overflow: hidden;
    }
}
.picker-calendar-months-wrapper {
    .picker-calendar-row {
        height: 2rem;
    }
}

//优惠券页面
.discount-card {
    background: url("@{imgsrc}/discount-bg.gif") no-repeat right top;
    background-size: 20rem;
    height: 6rem;
    width: 96%;
    margin: .5rem auto;
    .price {
        font-size: 3rem;
        color: @white;
        width: 70%;
        text-align: center;
    }
    .rule {
        display: block;
        width: 100%;
        text-align: center;
        color: white;
        font-size: @font-size-mini;
    }
}
.alert-area {
    background:@warning-bg;
    border:@border-warning-dashed;
    color: @warning-color;
    font-size: @font-size-small;
    padding:.3rem;
    text-align: justify;
    margin: .3rem;
}

.logo-box{
    background:url(../img/logo.png) center top no-repeat;
    padding-top:4rem;padding-top:4rem;
    background-size: 6rem;
    margin-top: 1rem;
}
.register-box {
    .alert-ul {
        width: 100%;
        background-size: 3rem;
    }
}